.popup__button {
  border-radius: 2px;
  font-size: 14px;
  width: 100%;
  border-width: 1px;
  border-style: solid;
}

@media all and (min-width: 768px) {
  .popup__button {
    font-size: 18px;
    height: 51px;
  }
}
