.page {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: white;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  padding: 28px 0 36px;
}

@media all and (min-width: 768px) {
  .page {
    padding: 45px 0 60px;
  }
}
