.profile__subtitle {
  font-size: 14px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

@media all and (min-width: 768px) {
  .profile__subtitle {
    font-size: 18px;
    text-align: left;
    margin-left: 1px;
    width: 96%;
  }
}
