.form-card-add__button-container {
  border: 0;
  margin: 0 22px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (min-width: 768px) {
  .form-card-add__button-container {
    margin: 0 36px;
  }
}
