.elements__image {
  height: 282px;
  width: 282px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  display: block;
}

.elements__image:hover {
  cursor: pointer;
}
