.profile__button-add {
  width: 282px;
  height: 50px;
  background: url(../../../images/plus.svg) no-repeat center;
  background-size: 16px 16px;
  border: 2px solid white;
  border-radius: 2px;
  margin-top: 6px;
}

@media all and (min-width: 768px) {
  .profile__button-add {
    width: 150px;
    background-size: 22px 22px;
    margin-top: 0;
  }
}
