.button-close {
  background-image: url(../../images/close.svg);
  width: 22px;
  height: 22px;
  background-size: cover;
}

@media all and (min-width: 768px) {
  .button-close {
    width: 33px;
    height: 33px;
  }
}
