.figure__image {
  object-fit: contain;
  margin-bottom: 10px;
  max-width: 75vw;
  max-height: 53vh;
  display: block;
}

@media all and (min-width: 768px) {
  .figure__image {
    max-height: 75vh;
  }
}