.profile__image {
  object-fit: cover;
  height: inherit;
  margin-left: 1px;
}

.profile__image::after {
  content: "";
  position: absolute;
  background-color:#808080;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
}

@media all and (min-width: 768px) {
  .profile__image {
    margin-left: 0;
  }
}
