@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);

@import url(../blocks/body/body.css);

@import url(../blocks/page/page.css);
@import url(../blocks/page/__footer/page__footer.css);
@import url(../blocks/page/__header/page__header.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/logo/logo.css);

@import url(../blocks/button/button.css);
@import url(../blocks/button/_theme/button_theme_dark.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__image/profile__image.css);
@import url(../blocks/profile/__cell/profile__cell.css);
@import url(../blocks/profile/__row-title/profile__row-title.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__button-edit/profile__button-edit.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__button-add/profile__button-add.css);

@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__list/elements__list.css);
@import url(../blocks/elements/__item/elements__item.css);
@import url(../blocks/elements/__image/elements__image.css);
@import url(../blocks/elements/__row/elements__row.css);
@import url(../blocks/elements/__name/elements__name.css);
@import url(../blocks/elements/__like/elements__like.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__author/footer__author.css);

@import url(../blocks/content/content.css);
@import url(../blocks/content/__profile/content__profile.css);
@import url(../blocks/content/__elements/content__elements.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__button-close/popup__button-close.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__input-container/popup__input-container.css);
@import url(../blocks/popup/__button-container/popup__button-container.css);
@import url(../blocks/popup/__button/popup__button.css);

@import url(../blocks/input/input.css);
