.form-card-add__title {
  margin: 0 22px 73px;
  font-weight: 900;
  color: black;
  font-size: 18px;
  line-height: 22px;
}

@media all and (min-width: 768px) {
  .form-card-add__title {
    margin: 0 36px 47px;
    font-size: 24px;
    line-height: 29px;
  }
}
