.popup__title {
  font-weight: 900;
  color: black;
  font-size: 18px;
  line-height: 22px;
}

@media all and (min-width: 768px) {
  .popup__title {
    margin: 0 0 47px;
    font-size: 24px;
    line-height: 29px;
  }
}
